@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Navbar  */

#logo {
    display: flex;
    color: white;
    align-items: center;
    margin: 0px 10px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar{
    background-color: rgb(207, 59, 48);
    padding: 18px 14px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    
}

#navbar li a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    cursor: pointer;
}

#navbar li a:hover {
    color: black;
}

/* IntroSection  */

#IntroSection{
    height: 425px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 65px;
    /* background-color: red; */
    background: center/cover no-repeat url("/static/bg.jpg");
}

#IntroSection div.small{
    font-size: 52px;
    padding: 5px;
}

/* missionSection */

#missionSection{
    height: 326px;
    width: 67%;
    margin: auto;
}

#missionSection h2{
    padding-top: 23px;
    font-size: 36px;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

/* Card  */
.card {
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    display: inline-block;
    margin: 23px 16px;
    height: 209px;
}

.card h3{
    text-align: center;
    margin: 12px;
    margin-top: 24px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 131px;
    padding: 0px 14px;
    margin: 5px 9px;
}

.card-img img{
    height: inherit;
    /* padding: 0px 14px; */
}

.card-content{
    padding: 0px 10px;
}
.card-content p{
    font-size: 18px;
}
/* sponsorSection */

#sponsorsSection{
    height: 300px;
    background-color: rgb(250, 82, 82);
}

#sponsorsSection h2{
    font-size: 36px;
    padding-top: 23px;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#sponsors{
    height: 150px;
    max-width: 1000px;
    margin: 32px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spImage{
    height: 80%;
    margin: 20px;
}

/* footer */

#footer{
    color: white;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



